<div class="row">
    <div id="lineGraphBox" class="col-xs-12 col-sm-12 col-md-offset-1 col-md-5 col-lg-offset-1 col-lg-5">
        <line-chart options="{{mCtrl.lineChart.options}}"></line-chart>
    </div>
    <bar-chart options="{{mCtrl.barChart.options}}"></bar-chart>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4 viewPanel">
        <div class="panel panel-default" ng-if="issues">
            <div class="panel-heading centerBody metricIssuePanelHeading">Number of Open Issues: {{issues.length}}</div>
            <div class="panel-body centerBody">
                <button type="button" class="btn btn-default" ng-click="mCtrl.switchToIssues()">View Open Issues</button>
            </div>
        </div>
    </div>
</div>



